<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FinderApp</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <ion-app>
    <!-- El contenido de tu aplicación va aquí -->
    <ion-content [fullscreen]="true" style="--overflow: scroll;">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Objetos perdidos</ion-title>
        </ion-toolbar>
      </ion-header>

      <div class="container mt-4">
        <div class="row">
          <div class="col-12">
            <ion-card class="card">
              <div class="pre-form">
                <div class="container border p-4">
                  <strong>¿Encontraste un objeto?</strong>
                  <p>Regístralo para ayudar a encontrar a la persona que perdió su objeto</p>
                  <ion-button class="mt-2" (click)="abrirFormulario()" color="success">Ingresar objeto</ion-button>
                </div>
              </div>
            </ion-card>
          </div>

          <div class="col-12">
            <ion-card class="card">
              <div id="secondView">
                <div class="container border p-4">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="6" class="container border p-2">
                        <ion-list>
                          <ion-label>Título</ion-label>
                          <ion-input [(ngModel)]="titulo" name="titulo" placeholder="Ingrese producto"></ion-input>
                        </ion-list>
                      </ion-col>

                      <ion-col size="6" class="container border p-2">
                        <ion-list>
                          <ion-label>Descripción</ion-label>
                          <ion-input [(ngModel)]="descripcion" name="descripcion" placeholder="Ingrese descripción"></ion-input>
                        </ion-list>
                      </ion-col>

                      <ion-col size="6" class="container border p-2">
                        <ion-list>
                          <ion-label>Fecha</ion-label>
                          <ion-input type="date" [(ngModel)]="fecha" name="fecha" placeholder="Ingrese fecha"></ion-input>
                        </ion-list>
                      </ion-col>

                      <ion-col size="6" class="container border p-2">
                        <ion-list>
                          <ion-label>Ubicación</ion-label>
                          <ion-input [(ngModel)]="ubicacion" name="ubicacion" placeholder="Ingrese ubicación"></ion-input>
                        </ion-list>
                      </ion-col>

                      <ion-col size="6" class="container border p-2">
                        <ion-list>
                          <ion-label>Foto</ion-label><br>
                          <ion-input accept=".png,.jpg" (change)="onFileChosen($event)" type="file"></ion-input>
                        </ion-list>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <h3>Información de contacto</h3>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="6" class="container border p-2">
                        <ion-list>
                          <ion-label>Nombre</ion-label>
                          <ion-input [(ngModel)]="nombre" name="nombre" placeholder="Ingrese nombre"></ion-input>
                        </ion-list>
                      </ion-col>

                      <ion-col size="6" class="container border p-2">
                        <ion-list>
                          <ion-label>Teléfono</ion-label>
                          <ion-input [(ngModel)]="telefono" name="telefono" placeholder="Ingrese teléfono"></ion-input>
                        </ion-list>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <ion-list>
                    <ion-button (click)="enviarFormulario()">Crear publicación</ion-button>
                  </ion-list>
                </div>
              </div>
            </ion-card>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-app>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
